header {
  border-bottom: 1px solid white;
  margin: 0 5%;
  padding: 10px 30px;
  i:before {
    font-size: 40px;
  }
  .header-name {
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
  }
}
